<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="utf-8">
        <title>PanthermanagementBregade</title>
        <link href="{% static 'Pages/img/panther.png' %}" rel="icon">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;700&family=Rubik:wght@400;500&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{% static 'Pages/lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'Pages/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'Pages/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'Pages/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'Pages/css/style.css' %}" rel="stylesheet">
    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-fluid header position-relative overflow-hidden p-0">
            <nav class="navbar navbar-expand-lg fixed-top navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="index.html" class="navbar-brand p-0">
                    <h1> <img src="{% static 'Pages/img/pnthr.png' %}" alt="" >PanthermanagementBregade</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0" style="margin-right: 95px;">
                        <a href="{% url 'frontnd:index' %}" class="nav-item nav-link active">Home</a>
                        <a href="{% url 'frontnd:about' %}" class="nav-item nav-link">About</a>
                        
                        <div class="nav-item dropdown">
                            <!-- <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a> -->
                            <div class="dropdown-menu m-0">
                                <!-- <a href="{% url 'frontnd:team' %}" class="dropdown-item">Services</a>
                                <a href="feature.html" class="dropdown-item">Features</a>
                                <a href="pricing.html" class="dropdown-item">Gallary</a> -->
                                <!-- <a href="blog.html" class="dropdown-item">Blog</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                <a href="404.html" class="dropdown-item">404 Page</a> -->
                            </div>
                        </div>
                        <a href="{% url 'frontnd:team' %}" class="nav-item nav-link">Team</a><br><br>

                        <a href="{% url 'frontnd:contact' %}" class="nav-item nav-link">Contact Us</a>
                    </div>
                    <!-- <a href="#" class="btn btn-light border border-primary rounded-pill text-primary py-2 px-4 me-4">Log In</a>
                    <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4">Sign Up</a> -->
                </div>
            </nav>



            
            <!-- Hero Header Start -->
            <div class="hero-header overflow-hidden px-5">
                <div class="rotate-img">
                    <img src="{% static 'Pages/img/sty-1.png' %}" class="img-fluid w-100" alt="">
                    <div class="rotate-sty-2"></div>
                </div>
                <div class="row gy-5 align-items-center">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                        <h3 class="display-4 text-dark mb-4 wow fadeInUp" data-wow-delay="0.3s">Habba Dates</h3>
                        <p class="fs-4 mb-4 wow fadeInUp" data-wow-delay="0.5s">Habba Dates was one of our most granded product that recommends ways to get more opens, clicks, and sales.</p>
                        <a href="{% url 'frontnd:about' %}" id="gy" class="btn btn-light rounded-pill py-3 px-5" data-wow-delay="0.7s" >About More</a>
                     <!-- <a href="#" id="bten" class="btn rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.7s">Get Started</a> -->
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
                        <img src="{% static 'Pages/img/haa.png' %}" class="img-fluid w-100 h-100" alt="" style="border-radius: 15px;">
                    </div>
                </div>

                <div class="row gy-5 align-items-center" style="display: none;">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                        <h3 class="display-4 text-dark mb-4 wow fadeInUp" data-wow-delay="0.3s">Villa maati</h3>
                        <p class="fs-4 mb-4 wow fadeInUp" data-wow-delay="0.5s">Villa maati was one of our most granded product that recommends ways to get more opens, clicks, and sales.</p>
                        <a href="#" id="bten" class="btn rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.7s">Get Started</a>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
                        <img src="{% static 'Pages/img/haa.png' %}" class="img-fluid w-100 h-100" alt="">
                    </div>
                </div>

                <div class="row gy-5 align-items-center" style="display: none;">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                        <h3 class="display-4 text-dark mb-4 wow fadeInUp" data-wow-delay="0.3s">Gazzibo villa</h3>
                        <p class="fs-4 mb-4 wow fadeInUp" data-wow-delay="0.5s">Gazzibo villa was one of our most granded product that recommends ways to get more opens, clicks, and sales.</p>
                       
                        <a href="#" id="gy" style="text-align: center; margin-left: 30%;" class="btn btn-light rounded-pill py-3 px-5" style="text-align: center;">About More</a>
                        <a href="#" id="bten" class="btn rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.7s">Get Started</a>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
                        <img src="{% static 'Pages/img/haa.png' %}" class="img-fluid w-100 h-100" alt="">
                    </div>
                </div>

            </div>
            <style>
                #bten{
                    background-color: #4586aa;
                    color: white;
                }
                #bten:hover{
                    background-color: white;
                    color: #065e8d;
                }
            </style>


            <!-- Hero Header End -->
        </div>
        <!-- Navbar & Hero End -->
        

        <!-- About Start -->
        <!-- <div class="container-fluid overflow-hidden py-5"  style="margin-top: 6rem;">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="RotateMoveLeft">
                            <img src="{% static 'Pages/img/haa.png' %}" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                        <h4 class="mb-1 " style="text-align: center; margin-top: 20px; color: #2a5e9a;">About Us</h4>
                        <h4 style="text-align: center; color: #2a5e9a;">PanthermanagementBrigade</h4><br>
                        <h1 class="display-5 mb-4">Get Started Easily With a Personalized Product Tour</h1> -->
                        <!-- <p class="mb-4" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, suscipit itaque quaerat dicta porro illum, autem, molestias ut animi ab aspernatur dolorum officia nam dolore. Voluptatibus aliquam earum labore atque.
                        </p>
                        <a href="{% url 'frontnd:about' %}" id="gy" style="text-align: center; margin-left: 30%;" class="btn btn-light rounded-pill py-3 px-5" style="text-align: center;">About More</a>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <style>
            
        #gy:hover{
            background-color: #065e8d;
            color: #ffffff;
        }
        #gy{
            color: #4586aa;
            background-color: #e7eef0;
        }

        </style>
        About End -->


        <!-- Service Start -->
        <div class="container-fluid service py-5">
            <div class="container py-5">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
                    <h4 class="mb-1 " style="color: #065e8d;">Our Service</h4>
                    <h1 class="display-6 mb-6">What We Can Do For You</h1>
                    <p class="mb-0" style="font-size: 19px;"><span style="color: #065e8d;">PanthermanagementBregade</span> offer a matrix of interrelated services that clients and customers demand.
                        Pantherbrigadez is a professional management services for hospitality related assets such as Outlet Setup & Run the Business like work Partner for your Coffee Shop’s, Hotels, Homestays, Banquet , Vintage Villa & Resorts.
                    </p>
                </div>
                <div class="row g-4 justify-content-center">
                    <img src="{% static 'Pages/img/Habba/hfull.png' %}" alt="" style="border-radius: 8px;">
                    <!-- <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item text-center rounded p-4">
                            <div class="service-icon d-inline-block bg-light rounded p-4 mb-4"><i class="fas fa-mail-bulk fa-5x text-secondary"></i></div>
                            <div class="service-content">
                                <h4 class="mb-4">Email Newsletters</h4>
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.consectetur adipisicing elit
                                </p>
                                <a href="#" class="btn btn-light rounded-pill text-primary py-2 px-4">Read More</a>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        
                        <div class="service-item text-center rounded p-4">
                            <div class="service-icon d-inline-block bg-light rounded p-4 mb-4"></div>
                            <div class="service-content">
                                <h4 class="mb-4">Acquistion Emails </h4>
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.consectetur adipisicing elit
                                </p>
                                <a href="#" class="btn btn-light rounded-pill py-2 px-4">Read More</a>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item text-center rounded p-4">
                            <div class="service-icon d-inline-block bg-light rounded p-4 mb-4"><i class="fa fa-subway fa-5x text-secondary"></i></div>
                            <div class="service-content">
                                <h4 class="mb-4">Retention Emails</h4>
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.consectetur adipisicing elit
                                
                                </p>
                                <a href="#" class="btn btn-light rounded-pill text-primary py-2 px-4">Read More</a>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item text-center rounded p-4">
                            <div class="service-icon d-inline-block bg-light rounded p-4 mb-4"><i class="fas fa-sitemap fa-5x text-secondary"></i></div>
                            <div class="service-content">
                                <h4 class="mb-4">Promotional Emails</h4>
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.consectetur adipisicing elit
                                </p>
                                <a href="#" class="btn btn-light rounded-pill text-primary py-2 px-4">Read More</a>
                            </div>
                        </div>
                    </div> -->
                    
                </div>
            </div>
        </div>
        <!-- Service End -->

<!-- 
        <div class="row g-4 justify-content-center">
            <img src="{% static 'Pages/img/haa.png' %}" alt="" style="opacity: 0.6;">
        </div>
         -->



        <!-- Cfe muzris -->


        <div class="container-fluid feature overflow-hidden py-5 " style="background-color: rgb(227, 227, 237);">
            <div class="container py-5">
                <div class="row g-5 pt-5 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="col-lg-6" >
                        
                        <img id="coo" src="{% static 'Pages/img/Cafemuziris/cafe4.jpg' %}" alt="" style="width: 80%; border-radius: 50%; box-shadow: 0px 0px 25px rgb(75, 101, 109);">
                        
                    </div>
                    <div class="col-lg-6">
                        <!-- <img src="{% static 'Pages/img/Cafemuziris/cafe4.jpg' %}" alt="" style="opacity: 0.15; width: 45%; margin-top: -140px; border-radius: 2; position: absolute;"> -->
                        <h1 style="font-family: 'Times New Roman', Times, serif;">Cafe muzris</h1>
                        <h3 style="font-family: 'Times New Roman', Times, serif;"> Design & Develop Coffee Shop Setup</h3><br>
                        <p style="font-size: 19px; margin-top: 13px; line-height: 42px;">Initial Property set-up - For the business from
                            interiors, required items, Equipment’s, arrangement etc.
                            Enhance Business & Profits - While operating the business with vendor management services
                            Business Registration & Online Tie – ups for promotions Sharing Monthly Reports with Profit & expenses with Directors
                        </p>
                        <br><br>
                        <button class="cafebtn">Pics</button>
                    </div>
                </div>
        
            </div>
        </div>
       
        <div class="photogallary">
            <!-- <div class="section">
                <div class="pic">
                    <img src="{% static 'Pages/img/Cafemuziris/cafe3.jpg' %}" alt="">
                </div>
                <img src="{% static 'Pages/img/Cafemuziris/cafe15.jpg' %}" alt="">
                <img src="{% static 'Pages/img/Cafemuziris/cafe3.jpg' %}" alt="">
                <img src="{% static 'Pages/img/Cafemuziris/cafe10.jpg' %}" alt="">
                <img src="{% static 'Pages/img/Cafemuziris/cafe2.jpg' %}" alt="">
                <img src="{% static 'Pages/img/Cafemuziris/cafe7.jpg' %}" alt="">
                <img src="{% static 'Pages/img/Cafemuziris/cafe8.jpg' %}" alt="">
                <img src="{% static 'Pages/img/Cafemuziris/cafe16.jpg' %}" alt="">
                <img src="{% static 'Pages/img/Cafemuziris/cafe12.jpg' %}" alt="">
                <img src="{% static 'Pages/img/Cafemuziris/cafe4.jpg' %}" alt="">
            </div> -->
            
        </div>


        <style>
            .photogallary{
                display: grid;
                width: 90%;  
                margin: auto; 
                grid-gap: 20px;
                grid-template-columns: repeat(4, 1fr);         
            } 
            .pic{
                position: relative;
                height: 230px;
                border-radius: 10px;
                box-shadow: 2px 3px 4px lightgray;
            }
            .pic img{
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }

        </style>

    
            <!-- Habba dates -->
            <img src="{% static 'Pages/img/Habba/hbg.png' %}" alt="" style="opacity: 0.09;  position: absolute; width: 100%; height: auto; margin-top: 70px;">


        <div class="container-fluid feature overflow-hidden py-5" style="background-color: rgb(239, 239, 235);" >
            <div class="container py-5">
                <div class="row g-5 pt-5">
                    <div class="col-lg-6">
                        <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Habba dates</h1>
                        <h4 style="font-family: 'Times New Roman', Times, serif;">A Leisure Holiday Villas at south India’s Biggest Dates
                            Farm (About 100 acres of Dates Plantation)</h4>
                        <p style="font-size: 19px; margin-top: 55px; line-height: 42px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Designed & Developed Private Villas &
                            Centralized Kitchen with Healthy Food & Beverage
                            with Traditional Style Serving North Indian, South
                            Indian and Chinese Food. Setup Design to Development – Rooms’ and Kitchen<br>
                            Habba Dates Villa, decor game with creative touches a floating tree stump becomes a quirky showpiece, and huge unpolished stones turn into striking art.
                        </p><br><br>
                    </div>
                    <div class="col-lg-6" >
                        <img src="{% static 'Pages/img/Habba/hbg.png' %}" alt="" style="width: 110%; box-shadow: 0px 10px 10px rgb(193, 185, 185);">
                    </div>
                </div>
     
                <hr style="margin-top: 10px; margin-bottom: 50px; color: black;">
                <div class="row g-5 pt-5">
                    <div class="col-lg-6">
                        <img id="coo" src="{% static 'Pages/img/Habba/gazbo.png' %}" alt="" style="width: 110%; margin-left: -50px;">
                        
                    </div>
                    <div class="col-lg-6">
                        <h1 style="font-family: 'Times New Roman', Times, serif; margin-top: -20px;">Gazzibo villa</h1><br>
                        <p style="font-size: 19px; line-height: 41px;">Gazebo Villa—spanning 844 sq. ft., is designed to be a heaven for unwinding.
                            It features three beautifully appointed rooms,and a tunnel pool
                            For the business from interiors, Procure required items, Equipment’s, arrangement and all in place
                            
                            Online Tie – Business Registration & OTA Sign up Sharing Monthly Reports with Profit & expenses with Directors
                           </p>
                        <br><br>
                        <button class="picbtn">Pics</button>
                    </div>
                </div>
            </div>
        </div>


        <style>
            .cafebtn{
                width: 200px;
                background: transparent;
                padding: 2px;
                border-color: rgb(212, 208, 208);
                font-size: 25px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                border-radius: 29px;

            }
            .cafebtn:hover{
                color: white;
                background-color: rgb(169, 163, 227);
                border: none;
            }
            .picbtn{
                width: 200px;
                background: transparent;
                padding: 2px;
                border-color: rgb(212, 208, 208);
                font-size: 25px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                border-radius: 29px;

            }
            .picbtn:hover{
                color: black;
                background-color: rgb(192, 187, 187);
                border: none;

            }
            #coo:hover{
                box-shadow: 0px 10px 10px rgb(197, 192, 192);
                cursor: pointer;
            }
        </style>


        <!-- Villa matti -->
        

        <div class="container-fluid feature overflow-hidden py-5" style="background-color: rgb(35, 33, 33);">
            <div class="container py-5">
                <div class="row g-5 pt-5">
                        
                        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">

                            <h1 class=" mb-6" style="color: white; margin-bottom: 70px; font-family: 'Times New Roman', Times, serif;">Villa matti</h1>
                            <hr style="color: white; margin-bottom: 50px;">
                            <p class="mb-0" style=" font-size: 24px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  letter-spacing: .1px; color: rgb(219, 211, 211);" >Villa maati is a boutique nature stay. The retreat consists of an entertainment zone with kitchen, dining & living. A residential zone with five bedrooms - are dispersed between chikoo and mango trees - creating courts & pathways surrounding a pool. The expansive front patio facing the pool of this villa allows guests to take in the views and enjoy the outdoors year-round.</p>
                            <hr style="color: white; margin-bottom: 30px; margin-top: 50px;">
                        </div>
                </div>
                    
                    <div class="imgg">
                        <img src="{% static 'Pages/img/Villamatti/villa13.jpg' %}" alt="">
                        <img src="{% static 'Pages/img/Villamatti/villa8.jpg' %}" alt="">
                        <img src="{% static 'Pages/img/Villamatti/villa11.jpg' %}" alt="">
                    </div>
                    
            </div>
                <button class="picsbtn"  id="add-popup-button"> Pics </button>
                <!-- <button class="add-button" id="add-popup-button">Pics</button> -->

                
            </div>
        </div>



        <!-- image Popup -->

        
      
        <div class="popup-overlay">
            <div class="popup-box">

                <h1 id="cancel-popup" style="font-size: 31px; color: rgb(255, 253, 253);  position: absolute; margin-top: 30px; margin-left: 55%; cursor: pointer; ">
                    X </h1>
                <!-- <div class="img-gallary">
                    <div class="section">
                        <img src="{% static 'Pages/img/Cafemuziris/cafe3.jpg' %}" alt="">
                        <img src="{% static 'Pages/img/Cafemuziris/cafe15.jpg' %}" alt="">
                        <img src="{% static 'Pages/img/Cafemuziris/cafe3.jpg' %}" alt="">
                        <img src="{% static 'Pages/img/Cafemuziris/cafe10.jpg' %}" alt="">
                        <img src="{% static 'Pages/img/Cafemuziris/cafe2.jpg' %}" alt="">
                        <img src="{% static 'Pages/img/Cafemuziris/cafe7.jpg' %}" alt="">
                        <img src="{% static 'Pages/img/Cafemuziris/cafe8.jpg' %}" alt="">
                        <img src="{% static 'Pages/img/Cafemuziris/cafe16.jpg' %}" alt="">
                        <img src="{% static 'Pages/img/Cafemuziris/cafe12.jpg' %}" alt="">
                        <img src="{% static 'Pages/img/Cafemuziris/cafe4.jpg' %}" alt="">
                    </div>
                    
                </div> -->
                
               <button class="xbtn" id="cancel-popup" style="margin-left: 90%; margin-bottom: 200px; margin-top: -300%;">X</button>
            </div>
        </div>

  

        <style>
            * {
                box-sizing: border-box;
            }
            /* .section{
                flex: 25%;
                padding: 0 3px;

            }
            .section img{
                width: 100%;

            }
            .container{
                display: flex;
            } */



            /* popup image */

/*             
            /* Img gallary */
             .img-gallary{
                display: grid;
                width: 90%;   
                grid-gap: 20px;
                grid-template-columns: repeat(4, 1fr);         
            } 
/* 
            .img-gallary img{
                width: 50%;
                height: 50px;
                height: auto;
                display: flex;
                cursor: pointer;
            }   */

            
            /* Aad buuton */
            .add-button{
                background-color: rgb(91, 98, 98);
                font-size: 20px;
                width: 110px;
                height: 50px;
                border-radius: 17px;
                border: none;
                margin-left: 10em;
                margin-top: 180px;
                position: sticky;
            }

           
                        
            /* popup box alteration */

            .popup-overlay{                                   
                background-color: rgb(71, 72, 72);                                         
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 1; 
                display: none; 

            }
            .popup-box{
                
                padding: 40px ;
                border-radius: 5px;
                position: relative;
                background-color: rgb(86, 100, 104);
                left: 0%;
                z-index: 2; 
                display: none; 

            }
            
            .popup-box input{
                border: none;
                width: 100%;
                margin: 5px;
                padding: 5px;
                font-size: 18px;
                background: transparent;
                border-bottom: solid black;
            
            }
            .popup-box textarea{
                border: none;
                width: 100%;
                margin: 5px;
                padding: 5px;
                font-size: 18px;
                background: transparent;
                border-bottom: solid black;
            
            }

            .popup-box button{
                padding: 5px 7px 5px 7px;
                background-color: rgb(243, 243, 243);
                color: black;
                font-size: 15px;
                margin-left: 70%;
                margin: 5px;
                border: none;
                border-radius: 3px;
                border-color: solid black;
            } 

            /* pics button */

            .picsbtn{
                align-items: center;
                margin: auto;
                display: grid; 
                justify-content: center;
                text-align: center;
                width: 210px;
                padding: 5px;
                font-size: 25px;
                color: rgb(244, 242, 242);
                background-color: rgb(34, 32, 32);
                border: 2px solid rgb(99, 97, 97);
                border-radius: 51px;
                margin-top: 30px;
                margin-bottom: 50px;


            }
            .picsbtn:hover{
                width: 200px;
                color: rgb(32, 31, 31);
                background-color: rgb(221, 218, 218);

            }
            .imgg{
                display: grid;
                width: 100%;   
                grid-gap: 50px;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));         
            }
            .imgg img{
                width: 97%;
                height: 560px;
                height: auto;
                display: grid;
                opacity: 0.6;
                
                border-radius: 2px 85px 5px 5px;
                border:bold gray;
                
            }
            .imgg img:hover{
                width: 100%;
                border-left: 8px solid rgb(125, 120, 120);
                border-bottom: 8px solid rgb(125, 120, 120);
                box-shadow: 0px 0px 6px   lightblue;
                opacity: 80;
                transition-duration: 0.9s;
            }
        </style>


        <script>
                                
            var popupoverlay=document.querySelector(".popup-overlay")
            var popupbox=document.querySelector(".popup-box")
            var addpopupbutton=document.getElementById("add-popup-button")


                        
            addpopupbutton.addEventListener("click", function(){
                popupoverlay.style.display="block"
                popupbox.style.display="block"
            })

                        
            // select cancel button          

            var cancelpopupbtn=document.getElementById("cancel-popup")

            cancelpopupbtn.addEventListener("click", function(event){
                event.preventDefault()   // preventDefault() koduthal automatic
                
                popupoverlay.style.display="none"
                popupbox.style.display="non"
                
            })


        </script> 

<!--         

        <div class="container-fluid feature overflow-hidden py-5" style="background-color: rgb(214, 192, 196);">
            <div class="container py-5">
                <div class="row g-5 pt-5">
                    <div class="col-lg-6" style="background-image: url('Pages/img/Cafemuziris/cafe7.jpg' );">
                        <h2>Villa matti</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eligendi, aperiam omnis inventore quis quos ipsam repellendus saepe rem vitae aut natus in pariatur odio ratione quae reprehenderit quia voluptate?</p>

                        <button>pics</button>
                    </div>
                </div>
            </div>
        </div>
                
                 -->





        
        <!-- Feature Start -->
        <div class="container-fluid feature overflow-hidden py-5">
            <div class="container py-5">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
                    <h4 class="display-6" style="color: #065e8d;">Our Feature</h4>
                    <h1 class="display-8 mb-4">Features of our PanthermanagementBrigade</h1>
                    <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam minus blanditiis ipsam accusamus voluptas repellendus distinctio dolorum. Doloribus natus, inventore fuga ipsum optio ipsa repellendus pariatur, sunt, dolorum aperiam reprehenderit.  </p>
                </div>
                <!-- <div class="row g-4 justify-content-center text-center mb-5">
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="text-center p-4">
                            <div class="d-inline-block rounded bg-light p-4 mb-4"><i class="fas fa-envelope fa-5x text-secondary"></i></div>
                            <div class="feature-content">
                                <a href="#" class="h4">Email Marketing <i class="fa fa-long-arrow-alt-right"></i></a>
                                <p class="mt-4 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.consectetur adipisicing elit
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="text-center p-4">
                            <div class="d-inline-block rounded bg-light p-4 mb-4"><i class="fas fa-mail-bulk fa-5x text-secondary"></i></div>
                            <div class="feature-content">
                                <a href="#" class="h4">Email Builder <i class="fa fa-long-arrow-alt-right"></i></a>
                                <p class="mt-4 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.consectetur adipisicing elit
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="text-center rounded p-4">
                            <div class="d-inline-block rounded bg-light p-4 mb-4"><i class="fas fa-sitemap fa-5x text-secondary"></i></div>
                            <div class="feature-content">
                                <a href="#" class="h4">Customer Builder <i class="fa fa-long-arrow-alt-right"></i></a>
                                <p class="mt-4 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.consectetur adipisicing elit
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="text-center rounded p-4">
                            <div class="d-inline-block rounded bg-light p-4 mb-4"><i class="fas fa-tasks fa-5x text-secondary"></i></div>
                            <div class="feature-content">
                                <a href="#" class="h4">Campaign Manager <i class="fa fa-long-arrow-alt-right"></i></a>
                                <p class="mt-4 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.consectetur adipisicing elit
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="my-3">
                            <a href="#" class="btn btn-primary d-inline rounded-pill px-5 py-3">More Features</a>
                        </div>
                    </div>
                </div> -->
                <div class="row g-5 pt-5">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="feature-img RotateMoveLeft h-100" style="object-fit: cover;">
                            <img src="{% static 'Pages/img/Villamatti/villa14.jpg' %}" class="img-fluid w-100 h-100" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.1s">
                        <!-- <h4 class="text-primary">Fearutes</h4> -->
                        <h1 class="display-5 mb-4"></h1>
                        <!-- <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, suscipit itaque quaerat dicta porro illum, autem, molestias ut animi ab aspernatur dolorum officia nam dolore. Voluptatibus aliquam earum labore atque.
                        </p> -->
                        <!-- <div class="row g-4">
                            <div class="col-6">
                                <div class="d-flex">
                                    <i class="fas fa-newspaper fa-4x text-secondary"></i>
                                    <div class="d-flex flex-column ms-3">
                                        <h2 class="mb-0 fw-bold">285</h2>
                                        <small class="text-dark">Created Projects</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex">
                                    <i class="fas fa-users fa-4x text-secondary"></i>
                                    <div class="d-flex flex-column ms-3">
                                        <h2 class="mb-0 fw-bold">6560</h2>
                                        <small class="text-dark">Happy Clients</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <a href="#" class="btn btn-primary rounded-pill py-3 px-5">Read More</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End -->



        <!-- Testimonial Start -->
        <div class="container-fluid testimonial py-5">
            <div class="container py-5">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px; ">
                    <!-- <img src="{% static 'Pages/img/Cafemuziris/cafe4.jpg' %}" alt="" style="opacity: 0.2; position: absolute; margin-left: -400px;"> -->
                    <img src="{% static 'Pages/img/panther.png' %}" alt="" style="opacity: 0.2; position: absolute; width: 100%; margin-left: -50%; margin-top: -65px;">

                    <h4 class="text-primary">PanthermanagementBregade</h4>
                    <h1 class="display-5 mb-4" >What Our Client Say About Us</h1>
                    <p class="mb-0"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, sed asperiores. Quisquam quidem totam nostrum laudantium eius tenetur commodi reprehenderit quo quia, quis in, facere non voluptate, exercitationem soluta temporibus. </p>
                </div>
                <div class="testimonial-carousel owl-carousel wow zoomInDown" data-wow-delay="0.2s">
                    <div class="testimonial-item" data-dot="<img class='img-fluid' src='' alt=''>">
                        <div class="testimonial-inner text-center p-5">
                            <div class="d-flex align-items-center justify-content-center mb-4">
                                <div class="testimonial-inner-img border border-primary border-3 me-4" style="width: 100px; height: 100px; border-radius: 50%;">
                                    <img src="img/-img-1.jpg" class="img-fluid rounded-circle" alt="">
                                </div>
                                <div>
                                    <h5 class="mb-2">Diljo </h5>
                                    <!-- <p class="mb-0">New York, USA</p> -->
                                </div>
                            </div>
                            <p class="fs-7">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores nemo facilis tempora esse explicabo sed! Dignissimos quia ullam pariatur blanditiis sed voluptatum. Totam aut quidem laudantium tempora. Minima, saepe earum!
                            </p>
                            <div class="text-center">
                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item" data-dot="<img class='img-fluid' src='' alt=''>">
                        <div class="testimonial-inner text-center p-5">
                            <div class="d-flex align-items-center justify-content-center mb-4">
                                <div class="testimonial-inner-img border border-primary border-3 me-4" style="width: 100px; height: 100px; border-radius: 50%;">
                                    <img src="{% static 'Pages/img/-img-2.jpg' %}" class="img-fluid rounded-circle" alt="">
                                </div>
                                <div>
                                    <h5 class="mb-2">Darsana</h5>
                                    <!-- <p class="mb-0">New York, USA</p> -->
                                </div>
                            </div>
                            <p class="fs-7">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores nemo facilis tempora esse explicabo sed! Dignissimos quia ullam pariatur blanditiis sed voluptatum. Totam aut quidem laudantium tempora. Minima, saepe earum!
                           
                        </div>
                    </div>
                    <div class="testimonial-item" data-dot="<img class='img-fluid' src='' alt=''>">
                        <div class="testimonial-inner text-center p-5">
                            <div class="d-flex align-items-center justify-content-center mb-4">
                                <div class="testimonial-inner-img border border-primary border-3 me-4" style="width: 100px; height: 100px; border-radius: 50%;">
                                    <img src="img/-i-3.jpg" class="img-fluid rounded-circle" alt="">
                                </div>
                                <div>
                                    <h5 class="mb-2">Aishu</h5>
                                    <!-- <p class="mb-0">New York, USA</p> -->
                                </div>
                            </div>
                            <p class="fs-7">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores nemo facilis tempora esse explicabo sed! Dignissimos quia ullam pariatur blanditiis sed voluptatum. Totam aut quidem laudantium tempora. Minima, saepe earum!
                            </p>
                            <div class="text-center">
                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

        
        
        <!-- Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s" style="background-color: #ced1d3; height: auto;">
            <div class="container py-5" style="margin-top: 150px; position: sticky;">
                <div class="row g-5" >
                    <div class="col-md-6 col-lg-6 col-xl-3">
                       
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4" >
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-dark">Quick Links</h4>
                            <a href="{% url 'frontnd:about' %}"> About Us</a>
                            <a href="{% url 'frontnd:contact' %}"> Contact Us</a>
                            <a href="{% url 'frontnd:index' %}"> Our Features</a>
                            <a href="{% url 'frontnd:index' %}"> All Services</a>
                            <a href="{% url 'frontnd:team' %}"> Our Team</a>
                            <!-- <a href=""> Our Blog & News</a> -->
                        </div>
                    </div>
                   
                    <div class="col-md-4 col-lg-4 col-xl-4" >
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-dark">Contact Info</h4>
                            <a href=""><i class="fa fa-map-marker-alt me-2"></i>Bangalore</a>
                            <a href="mailto:Pantherbrigadez@gmail.com"><i class="fas fa-envelope me-2"></i>Pantherbrigadez@gmail.com</a>
                            <a href=""><i class="fas fa-phone me-2"></i> 8970041419</a>
                            <a href="" class="mb-3"><i class="fas fa-print me-2"></i> 8073441750</a>
                            <div class="d-flex align-items-center">
                                <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        
        <!-- Copyright Start -->
        <div class="container-fluid copyright py-4">
            <div class="container" >
                <div class="row g-4 align-items-center" >
                    <div class="col-md-6 text-center text-md-start mb-md-0">
                        <span class="text-white"><a href="#"><i class="fas fa-copyright text-light me-2"></i>PanthermanagementBregade</a>, All right reserved.</span>
                    </div>
                    <div class="col-md-6 text-center text-md-end text-white">
                        <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                        <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                        <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                        
                        <!-- Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a class="border-bottom" href="https://themewagon.com">ThemeWagon</a> -->
                        <!-- Designed By Darsana V Distributed By Ramesh S -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>   
        
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'Pages/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'Pages/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'Pages/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'Pages/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'Pages/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'Pages/lib/lightbox/js/lightbox.min.js' %}"></script>
    
    <!-- Template Javascript -->
    <script src="{% static 'Pages/js/main.js' %}"></script>
    </body>
</html>
